body{
	/*background: #fef9f8;*/
	/*background: #F3F2C9;*/
	background: #FCF8E8;
	/*width: 100vw;*/
	/*height: 100vh;*/
	font-family: 'Trebuchet MS';
}
/*login page*/
.loginbox{
	 text-align:center;
	 width: 30%;
	 margin: auto;
	 margin-top: 5%;
	 padding: 3%;
	 border: 2px solid #014421;
	 border-radius: 3%;
	 background: white;
}

.loginbox img{
	 float:  center;
	 width: 100%;
}

.btn-custom{
	/*font-family: 'Lato', sans-serif;*/
	/*font-weight: bold;*/
	color: white;
	background: #014421;
}

.btn-custom:hover{
	/*background:  #7B1113;*/
	color: white;
	background: #F2AB1F;
	border: 1px solid #F2AB1F;

}

.click-button{
	/*border: 1px solid black;*/
	text-align: center;
}

/*sign up page*/
.sign-upbox{
	 text-align:center;
	 width: 40%;
	 margin: auto;
	 margin-top: 5%;
	 padding: 3%;
	 border: 2px solid  #014421;
	 border-radius: 3%;
	 background: white;
}

/*header*/
.header-login-title{
	/*border: 1px solid black;*/
    margin-top: 6%;
    overflow: hidden;
    float: center;
    font-size: 35px;
	font-weight: 1000;
	color: white;
	text-align: center;
}

.header-span {
	/*margin-top: 2%;
	margin-left: 1%;
	margin-right: 1%;*/
	height: 80px;
	float: top;
	background-image: linear-gradient(#00E3B5, #FFE25C);
	/*background: #014421;*/
}


.header-title{
	/*border: 1px solid black;*/
	list-style-type: none;
    margin-top: 6%;
    overflow: hidden;
    float: right;
}

.header-title a{
	/*font-family: BEba, sans-serif;*/
	font-size: 35px;
	font-weight: 900;
	color: white;
	text-decoration: none;
}

.header-options{
	width: 65%;
	height: 65%;
    background: #FFE25C;
    border: #FFE25C;
    color: black;
    margin-top: 5%;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
    float: left;
    margin-left: 300px;
    
}

.header-options a{
	background: #FFE25C;
	font-size: 18px;
	color: black;
	text-decoration: none;
	text-align: ;
}

.header-options a: hover{
	color: white;
}

.dropdown-menu { background-color:  #FFE25C; }

.super-user{
	width: 65%;
	height: 63%;
    /*background: #7B1113;
    border: #7B1113;;*/
    background: #FFE25C;
    border: #FFE25C;
    color: white;
    margin-top: 5%;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 7%;
    float: left;
    margin-left: 300px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

/*navigation bar*/
.nav-pills{
	/*border: 1px solid black;*/
	float: center;
	width: 75%;	
	margin-left: 1%;
}

.nav-pills .nav-link{
   color: #055052;
   border: 2px solid #014421;
   /*border: 2px solid #00CC99;*/
   /*border-radius: 25px;*/
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    /*background-color:  #7B1113;
    border: 1px solid  #7B1113;*/
    background-color: #F2AB1F;
    border: 2px solid #014421;
}

.nav-pills .nav-link:hover{
    color:  white;
    /*border: 1px solid  #7B1113;*/
    border: 2px solid #014421;
   /* background:  #7B1113;*/
   background: #F2AB1F;
}

/*contents*/
aside {
	float: right;
	/*border: 1px solid black;*/
	margin-right:2% ;
	padding: auto;
	width: 20%;
}

.btn-widget{
	background: #014421;
	/*background: #00CC99;*/
	/*border: 1px solid #055052;*/
	border: 1px solid #014421;
	height: 75px;
	font-weight: 600;

}

.btn-widget:hover{
	/*background:  #7B1113;
	border: 1px solid  #7B1113;*/
	background: #F2AB1F;
	border: 1px solid #F2AB1F;
}

main{
	float: left;
	border: 2px solid #014421;
	/*border: 2px solid #00CC99;*/
	width: 75%;
	background: rgba(255, 255, 255, 0.5);
	margin-left: 1% ;
	margin-top: auto;
	padding: 3%;
	overflow: auto;
}

.user-tables{
	float: center;
	border: 2px solid #014421;
	width: 97%;
	margin: auto;
	padding: 3%;
	background: rgba(255, 255, 255, 0.5);
	overflow: auto;
}

/*.mb-3 #custom-switch{
	border: 1px solid black;
	text-align: center;
	display: 'flex';
	alignItems: 'center';
	justifyContent: 'center';
}*/

/*forms*/

.btn-add{
	color: white;
	background: #014421;
	border: 1px solid #014421;
	border-radius: 25px;
}

.btn-add:hover{
	/*background:  #7B1113;
	border:  1px solid  #7B1113;*/
	background: #F2AB1F;
	border: 1px solid #F2AB1F;
	color: white;
	border-radius: 25px;
}